body {
  background-color: #e8a0bf;
  font-family: Helvetica, sans-serif;
  color: white;
}
.container {
  margin: auto;
  height: 600px;
  width: 90%;
  background-color: #483c46;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 60px;
}
